article {
    border: 1px solid white;
    padding: 1vw;
    margin-bottom: 1vw;
    width: 16%;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 1vw;
  }
  article img {
    width: 100%;
  }

  article p {
    font-size: 11px;
    margin: auto;
    display: inline-block;
    margin-bottom: .5rem;
  }
  article img:last-of-type {
    padding-left: 1rem;
    cursor: pointer;
  }
 article p:last-of-type {
        padding-left: 1rem;
        cursor: grab;
  }
  article p:last-of-type:hover {
    color: purple;
  }
  .article-button {
    margin: auto;
  }

  article :nth-of-type(19) {
    align-self: center;
  }